.signup-form {
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 100px auto 0;
  background-color: #2e2e2e;
  color: #f58eb1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 5px;
}

.signup-title {
  margin: 0;
  font-size: 30px;
}

.signup-form input {
  height: 30px;
  width: 95%;
  margin-bottom: 25px;
  color: #e9e9e9;
  background-color: #2e2e2e;
  border: 1px solid #f58eb1;
  border-radius: 5px;
  padding: 0 5px;
}

.signup-form input:focus-visible {
  outline: none;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-inputs::placeholder {
  font-family: inherit;
}

.signup-btn {
  font-family: inherit;
  font-weight: 800;
  color: #f58eb1;
  background-color: #2e2e2e;
  border: 1px solid #f58eb1;
  padding: 10px 30px;
  border-radius: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}

.signup-btn:hover {
  color: #2e2e2e;
  background-color: #f58eb1;
}

.signup-btn:disabled {
  background-color: #2e2e2e;
  color: #815d69;
  border-color: #815d69;
  cursor: default;
}

.sign-up-suggestion {
  border: none;
  background-color: transparent;
  margin-top: 20px;
  font-family: inherit;
  color: #f58eb1;
  text-decoration: underline;
  cursor: pointer;
}

.sign-up-suggestion:hover {
  color: #e9e9e9;
}

.username-error {
  animation: shake 0.3s;
  width: 100%;
  color: red;
  text-align: center;
}

.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
