.profile {
  width: 400px;
  height: 260px;
  background-color: #2e2e2e;
  padding: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
}
.profile__top {
  display: flex;
}
.profile__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.profile__name {
  text-transform: uppercase;
  font-weight: 700;
}

.profile__names {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-between;
}

.profile__photo {
  object-fit: cover;
  object-position: center;
  margin: 0 20px 20px 0;
}

.edit-button {
  background: none;
  color: #f58eb1;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
