.frenemies-logo {
  width: 100%;
  text-align: center;
  color: #f58eb1;
  font-style: italic;
  letter-spacing: 3px;
}
.toplinks {
  position: absolute;
  top: 30px;
  right: 40px;
}

.top-button--logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.top-button {
  color: #f58eb1;
  text-decoration: underline;
  margin-right: 10px;
}
