.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.frenemies-logo {
  max-width: max-content;
  text-align: center;
  color: #f58eb1;
  font-style: italic;
  letter-spacing: 3px;
  position: relative;
  left: 30px;
}

.top-button--logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.top-button {
  color: #f58eb1;
  text-decoration: underline;
  margin-right: 10px;
}

.header__friend-button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 3px solid #57554f;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 900;
  color: #57554f;
  transform: rotate(90deg);
  cursor: pointer;
}

.header__friend-button--friend {
  margin-right: 10px;
  color: #f58eb1;
  border-color: #f58eb1;
}

.header__friend-button--enemy {
  margin-right: 10px;
  color: #19decb;
  border-color: #19decb;
}

.header__friend-button--friend:hover {
  background-color: #f58eb1;
  color: #2e2e2e;
}

.header__friend-button--enemy:hover {
  background-color: #19decb;
  color: #2e2e2e;
}
